.genrateLoops {
    border: 1px solid black;
    
    display: block;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 30px;
    background-color: beige;
    max-width: 100%;
}
.textBox{
    max-width: 100%;
}